<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body align='center'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% if user.is_authenticated %}
Welcome to my page! AAA
{% else %}
Welcome!!
{% endif %}

</body>
</html>
